In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error,mean_absolute_error
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv(r"heart_disease.csv")
df.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df = df.drop('Unnamed: 0',axis=1)
df = df.drop('exang',axis=1)
df = df.drop('oldpeak',axis=1)
df = df.drop('slope',axis=1)

In [25]:
# Assuming df is your DataFrame
chol_range = (df['ca'].min(), df['ca'].max())
print("Range of 'chol' column:", chol_range)

Range of 'chol' column: (0, 4)

In [4]:
from sklearn import datasets,linear_model
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, r2_score
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [5]:
input_params = {'Start_feature': 'age',  'End_feature': 'thal','Target': 'target'}
start_feature = input_params['Start_feature']
end_feature = input_params['End_feature']
target_feature = input_params['Target']

X= df.loc[:, start_feature:end_feature]
y = df[target_feature]

print(X.head())
print(y.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  ca  thal
0   63    1   3       145   233    1        0      150   0     1
1   37    1   2       130   250    0        1      187   0     2
2   41    0   1       130   204    0        0      172   0     2
3   56    1   1       120   236    0        1      178   0     2
4   57    0   0       120   354    0        1      163   0     2
0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

y_train.shape

(227,)

In [7]:
model=RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [8]:
y_pred = model.predict(X_test)
y_pred

array([0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int64)

In [9]:
accuracy_score(y_test,y_pred)

0.7894736842105263

In [10]:
from joblib import dump

In [11]:
dump(model,'./../savedModels/model.joblib')

['./../savedModels/model.joblib']

In [14]:
df.head(3)

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  ca  thal  target
0   63    1   3       145   233    1        0      150   0     1       1
1   37    1   2       130   250    0        1      187   0     2       1
2   41    0   1       130   204    0        0      172   0     2       1

In [12]:
df.tail(10)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  ca  thal  target
293   67    1   2       152   212    0        0      150   0     3       0
294   44    1   0       120   169    0        1      144   0     1       0
295   63    1   0       140   187    0        0      144   2     3       0
296   63    0   0       124   197    0        1      136   0     2       0
297   59    1   0       164   176    1        0       90   2     1       0
298   57    0   0       140   241    0        1      123   0     3       0
299   45    1   3       110   264    0        1      132   0     3       0
300   68    1   0       144   193    1        1      141   2     3       0
301   57    1   0       130   131    0        1      115   1     3       0
302   57    0   1       130   236    0        0      174   1     2       0

In [13]:
print('target',model.predict([[67,1,2,152,212,0,0,150,0,3]]))

target [0]